/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
	*{
		@appy text-text;
	}
}
@layer utilities {
  .flex-center{
     @apply flex justify-center items-center;
  }
  .text-color{
     @apply text-neutral-600;
  }
}